venv
data
.ipynb_checkpoints/
.DS_Store
airflow/logs/
airflow/config/airflow.cfg
airflow/.env
snowflake/initial_setup.sql
airflow-secrets/
dbt/commands.sh
dbt/logs/
dbt-config/
terraform/.terraform/
terraform/.terraform.lock.hcl
logs/